.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
}
html {
  font-size: 62.5%;
}
.title-container {
  margin: 2%;
}
.title-container div {
  position: absolute;
  width: 500px;
  margin: 22% 0% 0% 14%;
}
.title-container div h1 {
  color: white;
  font-size: 6rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: normal;
  text-align: center;
}
.title-container div .btn {
  background-color: white;
  color: #5d5c5c;
  font-size: 2rem;
  padding: 1% 5%;
  border-radius: 5px;
  margin-left: 35%;
}
.title-container img {
  width: 800px;
  height: auto;
  object-fit: none;
}
.title-container img:hover {
  opacity: 100%;
}
img:hover {
  opacity: 80%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2% 8%;
  color: #5d5c5c;
}
img {
  width: 300px;
  height: 250px;
}
.artists-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-top: 2px solid silver;
  text-align: center;
}
.artists-container .artist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  width: auto;
}
.artists-container .artist .artist-name {
  text-decoration: none;
  font-size: 2rem;
  padding: 1%;
  color: #5d5c5c;
}
.artists-container .artist .bio {
  font-size: 1.8rem;
}
